@import url('https://db.onlinewebfonts.com/c/c36a75c5ada59665e225bbf5e38efd34?family=Averta-Bold');
@import url('http://fonts.cdnfonts.com/css/averta-blackitalic');
* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Averta-Bold', sans-serif;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #fff;
}

.container-1 {        
    height: 800px;
    background-image: url(./images/hero-bg.svg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
}

section {
    display: block;
}

.inner-container-1 {
    margin: 10vh auto;
    width: 45%;
    text-align: center;
    
}
.btn-div {
    display: flex;
    flex-direction: row;
    margin-top: 10%;
    justify-content: space-evenly;
}
.btn-div button {
    padding: 0 auto;
    border: 1px solid #dc3545;
    margin: 0 10% 0 0;
    
}

a button.btn-red-outline {
    color: #E7332B;
    font-size: 16px 'Averta', sans-serif;
    background: #FFFFFF;
    padding: 11px 20px;
    width: 100%;
    margin-left: -40%;
    
}
a button.btn-red {
    color: #FFFFFF;
    font-size: 16px 'Averta', sans-serif;
    background: #E7332B;
    padding: 11px 20px;
    width: 100%; 
    margin-left: 40%;
}
button.btn-red-outline:hover{
    cursor: pointer;
    background: #E7332B;
    color: #FFFFFF;
}
button.btn-red:hover{
    cursor: pointer;
    color: #E7332B;
    background: #FFFFFF;
}


.inner-container-1 > img, h2, p {
    padding: 3%;
}

.inner-container-1 > img{
    margin-bottom: 3%;
}

h2{
    font-size: 2.0em;
    color: #514949;
}
p{
    color: #514949;
    opacity: 0.8;
}
.inner-container-1 p a {
    color: #E7332B;
    text-decoration: none;
    opacity: 0.8;
}

.container-2{
    width: 100%;
}

.heading, .slogan {
    text-align: center;
}
.heading{
    color: #E7332B;
    font: 14px 'Averta', sans-serif;
    margin: 60px 0px 8px;
}
.slogan{
    color: #1b1a1a;
    font: 24px 'Averta', sans-serif;
    margin: 8px 0px 64px;
    font-weight: 500;
    line-height: 1.5;
}

.container-fluid {
    max-width: 1440px;
    width: 75%;
    margin: auto;
}
.program-card-0 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 25px;
    grid-row-gap: 0px;
    display: flex;
    align-items: center;
    
}
.column-wrap{
    background: #FFFAFA;
    font: 16px 'Averta', sans-serif;
    border: none;
    width: 75%;  
    height: 65vh;
    line-height: 1.5;
}
.text{ 
    display: block;
}
.text img, .text p, .text h3 a {
    margin: 8% 10%;
    padding: 0;
    font-family: 'Averta-Regular', sans-serif;
}

.text p {
    width: 79.5%
} 

.text img{
    margin-top: 18%;
}

.text a{
    text-decoration: none;
    color: #E7332B;
    opacity: 0.9;
    background-color: transparent;
    font-size: 16px;
    font-weight: lighter;
}

.footer-flex-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 56px;
    padding: 20px;
    margin-top: 30vh;
    width: 100%;  
}

.contact-icons img {
    width: 18px !important;
    margin-right: 5px;
    vertical-align: middle;
    border-style: none;
    background-color: #FFFAFA;
    padding-top: 0.8em;
}
.flex-3 p,.flex-3 a{
    text-decoration: none;
    color: #E7332B;
    font: 16px 'Averta-Regular', sans-serif;
}
.flex-3 p{
    padding-top: 0.8em;
}
.flex-4 a{
    text-decoration: none;
    color: #E7332B;
    font: 16px 'Averta-Regular', sans-serif;
}
.copyright p {
    color: #514949;
    padding-bottom: 97px;
    text-align: center;
    padding-top: 10px;
}
.m-3 {
    margin: 1rem!important;
}

footer hr {
    opacity: 0.2;
    border: 0.7px solid #514949;
}
hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}
.footer {
    margin-top: 215px;
}

.my-container {
    max-width: 1240px;
}
.ml-auto, .mx-auto {
    margin-left: auto;
}
.mr-auto, .mx-auto {
    margin-right: auto;
}
footer{
    display: block;
}

#image-left{
    position: absolute;
    width: 412px;
    height: 505px;
    left: 4.5%;
    top: 138vh;
    z-index: -1;
}
#image-right{
    position: absolute;
    width: 412px;
    height: 505px;
    left: 70%;
    top: 136vh;
    z-index: -1
}


